* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

.heading {
    padding: 40px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fffbfc
}
body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgba(14, 13, 13, 0.959);
}

body {
    background-image: linear-gradient( to bottom right, rgb(0, 0, 0),rgb(254, 253, 255));
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(243, 231, 231);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: rgb(228, 215, 215);
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: rgb(0, 0, 0);
}

.theme-toggler.active::before {
    background-color: rgb(255, 255, 255);
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(253, 253, 253);
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: rgb(240, 143, 17);
}

.calculator #display {
    color: hsl(0, 0%, 0%);
}

.calculator button#clear {
    background-color: #000000;
    color: #f8f5f2;
}

.calculator button.btn-number {
    background-color: #d8e2e7;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #000000;
    color: #f1f1f1;
  }
  
  .calculator button.btn-equal {
    background-color: #080808;
    color: rgb(252, 248, 248);
  }

  /* dark theme */

  .calculator.dark {
    background-color: #000000;
  }

  .calculator.dark #display {
    color: #ffffff;
  }

  .calculator.dark button#clear {
    background-color: #ff7300;
    color: #000000;
  }

  .calculator.dark button.btn-number {
    background-color: #ffffff;
    color: #151b1f;
  }

  .calculator.dark button.btn-operator {
    background-color: hsl(29, 100%, 50%);
    color: #000000;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #fc7b04;
    color: #000000;
  }